node_modules
.next
out
dist
coverage

.env
.env.local
.env.development
.env.production
.env.staging

.git
.gitlab
.github

.vscode
.idea
.DS_Store

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

README.md
build.log
lighthouse-report*.json
