.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  padding: 10px 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: background-color 0.4s, opacity 0.4s;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: none;
    background-color: var(--primary-light);
    box-shadow: 0 0 0 2px var(--primary-light);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-light);
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.primary {
    background-color: var(--primary-900);
    color: white;

    &:hover:not(:disabled) {
      background-color: var(--button-hover-bg);
      box-shadow: 0 0 10px 0 var(--primary-light) inset, 0 0 20px 0 var(--primary-light) inset;
      color: var(--primary-900);
    }

    box-shadow:
    0 0 10px 0 #005283 inset, 0 0 20px 0 #005283 inset
  }

  &.secondary {
    background-color: var(--primary-light);
    color: var(--primary-900);

    &:hover:not(:disabled) {
      background-color: var(--button-hover-bg);
    }
  }
}
